body {
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #e0e1dd;
  background-image: url('https://images.unsplash.com/photo-1535615615570-3b839f4359be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30%;
}

.title h1,
h2,
h3 {
  text-align: center;
  margin-top: 10%;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.title h2 {
  font-size: 1.2rem;
}

.title h3 {
  font-size: 1.2rem;
}
